In [3]:
import pandas as pd

In [5]:
# Load the dataset
df_ords_prior = pd.read_csv(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv")

In [7]:
orders_cleaned = pd.read_csv(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_cleaned.csv")

In [9]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords = pd.read_csv(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_cleaned.csv")

In [17]:
df_ords.shape

(3421083, 9)

In [23]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

#merging dataframes

In [21]:
df_merged_large

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,prior,13,1,12,7.0,False,14197,5,1,both
32434485,3421081,2977660,206209,prior,13,1,12,7.0,False,38730,6,0,both
32434486,3421081,2977660,206209,prior,13,1,12,7.0,False,31477,7,0,both
32434487,3421081,2977660,206209,prior,13,1,12,7.0,False,6567,8,0,both
32434488,3421081,2977660,206209,prior,13,1,12,7.0,False,22920,9,0,both

In [25]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

NameError: name 'os' is not defined

In [27]:
import os

In [37]:
df_merged_large.to_pickle(os.path.join(r"C:\Users\gkgiz\Desktop\CF\Achievement 4\09 - 2024 Instacart Basket Analysis\02 Data\Prepared Data",'orders_products_combined.pkl'))

# exporting in the pickle format

In [41]:
df_merged_large.shape

(32434489, 13)